<template>
  <div
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <div class="home">
      <div class="flex day-week mt-3 py-2">
        <div class="mx-auto shadow">
          <span class="mx-2 border-bottom border-danger">Day</span>
          <span class="mx-2">Week</span>
        </div>
        <hr class="hr" />
        <div class="d-flex justify-content-center mx-2">
          <div><i class="fas fa-chevron-left icon"></i></div>
          <div class="mx-4">
            <h3 class="day">Thursday</h3>
            <h5 class="date">Mar, 21 2021</h5>
          </div>
          <div><i class="fas fa-chevron-right icon"></i></div>
        </div>

        <div class="form-group mt-4">
          <input
            type="text"
            class="input-form"
            id="formGroupExampleInput2"
            placeholder="Add a task"
            v-model="newTodo"
            @keyup.enter="addTodo"
          />
        </div>

        <div
          v-for="todo in pinnedTodos"
          :key="todo.id"
          class="pinned shadow d-flex task-tile mt-3"
        >
          <span><i class="fas fa-thumbtack"></i></span>
          <div class="d-flex">
            <input
              class="check"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <div class="mx-3">
              <p class="task-p">{{ todo.title }}</p>
              <p class="memo">A memo here</p>
            </div>
          </div>
          <div>
            <span class="mx-2"><i class="fas fa-plus"></i></span>
            <span><i class="fas fa-trash"></i></span>
          </div>
        </div>
        <hr class="hr" />
        <div
          class="pinned d-flex task-tile mt-3"
          v-for="(todo, index) in todos"
          :key="todo.id"
        >
          <div class="d-flex mx-2">
            <input
              class="check"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <div class="mx-3">
              <p class="task-p">{{ todo.title }}</p>
            </div>
          </div>
          <div class="position-relative ml-8">
            <span><i class="fas fa-thumbtack"></i></span>
            <span class="mx-2"><i class="fas fa-plus"></i></span>
            <span @click="removeTodo(index)"><i class="fas fa-trash"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  data() {
    return {
      newTodo: "",
      idforTodo: 3,
      todos: [
        {
          id: 1,
          title: "11 am meeting",
          pinned: false,
          completed: false,
        },
        {
          id: 2,
          title: "Take over the world",
          pinned: false,
          completed: false,
        },
        {
          id: 3,
          title: "Finish this challenge",
          pinned: true,
          completed: false,
        },
      ],
    };
  },
  methods: {
    addTodo() {
      if (this.newTodo.trim().length == 0) {
        return;
      }
      this.todos.push({
        id: this.idforTodo,
        title: this.newTodo,
        completed: false,
      });

      this.newTodo = "";
      this.idforTodo++;
    },

    removeTodo(index) {
      this.todos.splice(index, 1);
    },
  },
  computed: {
    pinnedTodos() {
      if ((this.pinned = true)) {
        return this.todos.filter((todo) => todo.pinned);
      }
      return this.todos;
    },
  },
};
</script>

<style>
.actions {
  width: 137px;
  height: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: #484f59;
}
.actions-text {
  /* Style for "Unpin from" */
  width: 100px;
  height: 15px;
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  /* Text style for "Unpin from" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.pinned {
  justify-content: space-between;
  background-color: #3c424a;
}
.task-tile {
  padding-right: 3.5rem !important;
  padding-left: 3.5rem !important;
}
.memo {
  color: #6f757e;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
}
.task-p {
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.check {
  border-radius: 2px;
  border: 1px solid #2e3238;
  background-color: #6f757e;
}
.day-week {
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.hr {
  border: 2px solid #373c43;
}
.day {
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
}
.icon {
  margin-bottom: -16px;
  border-radius: 10px;
}
.date {
  color: #6f757e;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
</style>
