<template>
  <div
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
  >
    <div class="home">
      <h2 class="sign-in-heading mx-auto">Sign In</h2>
      <div class="px-5 py-4">
        <form action="">
          <div class="form-group my-4">
            <label for="formGroupExampleInput" class="my-2 ml-4 label"
              >Email address</label
            >
            <input
              type="text"
              class="input-form"
              id="formGroupExampleInput"
              placeholder="Enter your email"
            />
          </div>
          <div class="form-group my-3">
            <label for="formGroupExampleInput2" class="my-2 ml-4"
              >Password</label
            >
            <input
              type="text"
              class="input-form"
              id="formGroupExampleInput2"
              placeholder="Enter your password"
            />
          </div>
          <div class="py-2">
            <span class="forgot-password">
              forgot password ?
            </span>
          </div>
          <div class="mt-4">
            <button type="button" class="sign-in btn btn-block btn-lg">
              Sign in
            </button>
          </div>
          <div class="mt-3 text-or mx-auto">
            or
          </div>
          <div class="google-button mt-3">
            <img
              src="../assets/btn_google_signin_light_pressed_web.png"
              alt=""
            />
          </div>
          <div class="mt-4">
            <p class="have-account">
              Don't have an account?
              <span class="register-text">Register</span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  components: {},
};
</script>

<style>
.home {
  width: 530px;
  height: 596px;
  border-radius: 10px;
  background-color: #3c424a;
}
.have-account {
  /* Style for "Don't have" */
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #ccd7e2;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.register-text {
  color: #e55c8a;
}
.google-button {
  text-align: center;
  width: 417px;
  height: 42px;
  border-radius: 5px;
  background-color: #ccd7e2;
}
label {
  display: flex !important;
  width: 105px;
  height: 17px;
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.28px;
  line-height: 51px;
  text-align: center;
  /* Text style for "Email addr" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.text-or {
  /* Style for "OR" */
  width: 24px;
  height: 17px;
  color: #6f757e;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.sign-in-heading {
  margin-top: 40px;
  width: 90px;
  height: 29px;
  color: #ccd7e2;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.48px;
  line-height: 51px;
  text-align: center;
  /* Text style for "Sign In" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.sign-in {
  /* Style for "Rectangle" */
  width: 417px;
  height: 42px;
  background-color: #e55c8a !important;
  color: #fff !important;
}

.input-form {
  /* Style for "Rectangle" */
  width: 418px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid #2e3238;
  background-color: #343a40;
  color: #fff;
}
.forgot-password {
  float: right;
  text-decoration: underline;
  color: #e55c8a;
}
</style>
