<template>
  <div class="app">
    <router-view />
  </div>
</template>

<style>
html,
body {
  font-family: "Montserrat", sans-serif;
}
.app {
  width: 1280px;
  height: 960px;
  background-color: #e55c8a;
}
</style>
